@page {
  margin: 0mm;
}

@media screen {
  body {
    margin: auto;
    width: 210mm;
  }

  .page-header,
  .page-footer,
  .page-header-space,
  .page-footer-space {
    display: none;
  }
}

@media print {
  body {
    margin: 8mm;
    box-shadow: none !important;
    overflow: visible !important;
  }

  /* Ensure elements are not cut off between pages */
  .page {
    page-break-inside: avoid;
  }

  .header,
  .footer {
    text-align: center;
    page-break-before: always;
  }

  .section-title,
  .section-content {
    page-break-inside: avoid;
  }

  .companyStack {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    page-break-inside: avoid;
  }

  .companyLabel,
  .locationLabel {
    page-break-inside: avoid;
  }

  ul {
    padding-left: 20px;
    margin: 0;
  }

  li {
    margin-bottom: 8mm;
    page-break-inside: avoid;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: #000;
  }

  hr {
    border: 0;
    border-top: 1px solid #000;
    page-break-inside: avoid;
  }

  .project-title {
    page-break-inside: avoid;
  }

  .skills {
    page-break-inside: avoid;
  }

  .section-title,
  .companyStack,
  .skills,
  .project-title {
    margin-bottom: 15mm;
  }

  /* Hide JSON Template and Input when printing */
  .no-print {
    display: none !important;
  }
}